{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% comment %} {% include "./partials/barra.html" %} {% endcomment %}
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul>
            <li><a href="#">{% if user.is_authenticated %}{{ user.nombres }}{% else %}N/A{% endif %}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% block enlaces %}
            {% endblock %}
        </ul>
    </nav> {% endcomment %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Salud Lince</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% block enlaces %}
                    {% endblock %}
                    <li class="nav-item"><a class="nav-link" href="#">{% if user.is_authenticated %}{{ user.nombres }}{% else %}N/A{% endif %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% include "./partials/footer.html" %}

    {% block scripts %}{% endblock %}

</body>
</html>