{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=The+Seasons&family=Cardo&family=Belleza&display=swap" rel="stylesheet">

        <!-- CSS personalizado -->
        <link rel="stylesheet" href="{% static 'css/stylesFuentes.css' %}">

        {% block styles %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

<body>
    {% if user.is_authenticated %}
    {% include "./partials/navbar.html" %}
    {% endif %}

    <main class="container">
        {% block content %}
        {% endblock %}

        <br><br>
    </main>

    {% include "./partials/footer.html" %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>