{% extends "layouts/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}Mi Historial Médico{% endblock %}

{% block enlaces %}
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_dashboard' %}">Dashboard de paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historial' %}">Historial médico</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_consultas' %}">Mis consultas</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_informacion' %}">Información de paciente</a></li>
{% endblock %}

{% block content %}
<h1>Historial Médico</h1>
{% if historial %}

    <p><strong>Enfermedades crónicas:</strong> {{ historial.enfermedades_cronicas }}</p>
    <p><strong>Alergias:</strong> {{ historial.alergias }}</p>
    <p><strong>Medicamentos usados:</strong> {{ historial.medicamento_usado }}</p>
    {% if user.sexo == "F" %}
        <p><strong>¿Es embarazada?:</strong> {{ historial.es_embarazada|yesno:"Sí,No" }}</p>
    {% endif %}
    <p><strong>¿Usa drogas?:</strong> {{ historial.usa_drogas|yesno:"Sí,No" }}</p>
    <p><strong>¿Fuma cigarro?:</strong> {{ historial.usa_cigarro|yesno:"Sí,No" }}</p>
    <p><strong>¿Ingiere alcohol?:</strong> {{ historial.ingiere_alcohol|yesno:"Sí,No" }}</p>

{% else %}
    <p>No se encontró un historial médico.</p>
{% endif %}
{% endblock %}