{% extends "layouts/main.html" %}
{% load static %}

{% block styles %}   
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block title %}Mi Historial Médico{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center fuente-seasons fw-bold mb-4">Historial Médico</h1>
            {% if historial %}
            <div class = "container mt-3">
                <div class = "row">
                    <div class = "col-8"> 
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-primary fuente-belleza">Datos Personales</h5>
                                <ul class="list-group list-group-flush fuente-belleza">
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong>Enfermedades crónicas:</strong>
                                            <span>{{ historial.enfermedades_cronicas }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >Alergias:</strong>
                                            <span>{{ historial.alergias }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >Medicamentos usados:</strong>
                                            <span >{{ historial.medicamento_usado }}</span>
                                        </div>
                                    </li>
            
                                    {% if user.sexo == "F" %}
                                        <li class="list-group-item">
                                            <div class="d-flex flex-column">
                                                <strong >¿Es embarazada?</strong>
                                                <span >{{ historial.es_embarazada|yesno:"Sí,No" }}</span>
                                            </div>
                                        </li>
                                    {% endif %}
            
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Usa drogas?</strong>
                                            <span >{{ historial.usa_drogas|yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Fuma cigarro?</strong>
                                            <span >{{ historial.usa_cigarro|yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Ingiere alcohol?</strong>
                                            <span >{{ historial.ingiere_alcohol|yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Usa lentes?</strong>
                                            <span >{{ historial.usa_lentes|yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Tiene vida sexual activa?</strong>
                                            <span >{{ historial.vida_sexual_activa |yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <strong >¿Usa un método anticonceptivo?</strong>
                                            <span >{{ historial.usa_metodos_anticonceptivos |yesno:"Sí,No" }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"> 
                        <img src="{% static 'imgs/historial.gif' %}" class="card-img-top">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning text-center mt-4">
                No se encontró un historial médico.
            </div>
        {% endif %}
    </div>
{% endblock %}
