{% extends "layouts/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %} {% comment%} Token de seguridad {% endcomment %}
        <body class="bg-light">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <p class="mt-4">Bienvenido a Salud Lince. Inicia sesión para continuar.</p>
                    <img src=""class="img-fluid" style="max-width: 20%; height: auto;">
                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center vh-100">
                <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
                    <h2 class="text-center mb-4" >Iniciar Sesión</h2>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" name="email" id="email" class="form-control"required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </body>
    
{% endblock %}
