{% extends "layouts/base.html" %}

{% block title %}Información de médico{% endblock %}


{% block content %}
    <h1>Información de médico</h1>
    <p><strong>Nombres:</strong> {{ informacion.nombres }}</p>
    <p><strong>Apellido paterno:</strong> {{ informacion.apellido_paterno }}</p>
    <p><strong>Apellido materno:</strong> {{ informacion.apellido_materno }}</p>
    <p><strong>Correo:</strong> {{ informacion.email }}</p>
    <p><strong>Sexo:</strong> {{ informacion.sexo }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ informacion.fecha_nacimiento }}</p>
    <p><strong>Carrera o puesto:</strong> {{ informacion.carrera_o_puesto }}</p>

    <h2>Cambiar contraseña</h2>
    <form method="POST" action="{% url 'cambiar_contrasena' %}">
        {% csrf_token %}
        <div>
            <label for="current_password">Contraseña actual:</label>
            <input type="password" id="current_password" name="current_password" required>
        </div>
        <div>
            <label for="new_password">Nueva contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div>
            <label for="confirm_password">Confirmar nueva contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Cambiar contraseña</button>
    </form>

{% endblock %}