{% extends "layouts/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}Dashboard de médico{% endblock %}


{% block content %}
<h2>Estadísticas de Pacientes</h2>

    {% comment %} Gráfica de Género {% endcomment %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Distribución de Género</h5>
            <div>{{ genero_graph|safe }}</div>
        </div>
    </div>

    {% comment %} Gráfica de Hábitos {% endcomment %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Pacientes con Hábitos</h5>
            <div>{{ habitos_graph|safe }}</div>
        </div>
    </div>

    {% comment %} Gráfica de Tipos de Consultas {% endcomment %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Distribución de Tipos de Consultas</h5>
            <div>{{ consultas_graph|safe }}</div>
        </div>
    </div>
{% endblock %}