{% extends "layouts/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}Dashboard de paciente{% endblock %}


{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Bienvenido a Salud Lince 🩺</h2>
    {% comment %} recomendaciones {% endcomment %}
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-5">
        {% comment %} recomendación 1 {% endcomment %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <img src="{% static 'imgs/agua.png' %}" class="card-img-top" alt="Hidratación">
                    <h5 class="card-title">Mantente Hidratado</h5>
                    <p class="card-text">Bebe al menos 8 vasos de agua al día para mantener tu cuerpo funcionando correctamente.</p>
                </div>
            </div>
        </div>

        {% comment %} recomendación 2 {% endcomment %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Haz Ejercicio</h5>
                    <p class="card-text">Dedica al menos 30 minutos al día a realizar alguna actividad física.</p>
                    <img src="{% static 'imgs/ejercicio.png' %}" class="card-img-top" alt="Ejercicio">
                </div>
            </div>
        </div>

        {% comment %} recomendación 3 {% endcomment %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <img src="{% static 'imgs/comer.png' %}" class="card-img-top" alt="Dieta Balanceada">
                    <h5 class="card-title">Dieta Balanceada</h5>
                    <p class="card-text">Consume frutas, verduras y alimentos ricos en nutrientes para una salud óptima.</p>
                </div>
            </div>
        </div>
         {% comment %} recomendación 4 {% endcomment %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Descanso</h5>
                    <p class="card-text">Desconectarte 30 min antes de dormir y medita o lee antes de dormir.</p>
                    <img src="{% static 'imgs/descanso.png' %}" class="card-img-top" alt="Descanso">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>


{% endblock %}