{% extends "layouts/main.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/publicaciones.css' %}">
{% endblock %}

{% block title %}Dashboard de paciente{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="container mt-4">
  <div class="text-center">
    <div class="d-inline-block px-5 py-3 shadow-sm rounded-pill"
          style="background-color: #F8FDFF;">
        <h4 class="mb-0 fuente-seasons">¡Bienvenid{% if user.sexo == "M" %}o{% else %}a{% endif %}, <strong>{{ user.nombres|title }}</strong>!</h4>
      </div>
    </div>
  </div>
{% endif %}

<div class="container mt-4">
    <h3 class="mb-3">Noticias y Actualizaciones</h3>
    {% if publicaciones %}
        <div class="row row-cols-1 row-cols-md-2 g-3">
            {% for publicacion in publicaciones %}
            <div class="col">
                <div class="card h-100 publicacion">
                    {% if publicacion.imagen %}
                    <div class="text-center">
                        <img src="{{ publicacion.imagen.url }}" class="publicacion-imagen" alt="{{ publicacion.titulo }}">
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion.titulo }}</h5>
                        <p class="text-muted small">
                            {{ publicacion.fecha_publicacion|date:"d/m/Y" }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
            No hay publicaciones disponibles en este momento. Vuelve más tarde para ver actualizaciones.
        </div>
    {% endif %}
</div>

{% endblock %}