{% extends "layouts/base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}Dashboard de paciente{% endblock %}

{% comment %} {% block enlaces %}
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_dashboard' %}">Dashboard de paciente</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historial' %}">Historial médico</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_consultas' %}">Mis consultas</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'paciente_informacion' %}">Información de paciente</a></li>
{% endblock %} {% endcomment %}

{% block content %}
    <h1>Dashboard de paciente</h1>
{% endblock %}